<section class="mainConteiner">
    <nav class="navbar">
        <h1>{{result.title}}</h1>
        <p>Indentificador: {{result._id}}</p>
    </nav>
    <article class="productConteiner">
        <h2>Nombre: {{result.title}}</h2>
        <p>Descripcion: {{result.description}}</p>
        <p>Precio: {{result.price}}</p>
        <p>Codigo: {{result.code}}</p>
        <p>Status: {{result.status}}</p>
        <p>Stock: {{result.stock}}</p>
        <p>Imagen: {{result.thumbnails}}</p>
        <p>Categoria: {{result.category}}</p>
        <button class="agregar">Agregar al carrito</button> 
        <button class="volver"><a href="http://localhost:8080/products">Volver atras</a></button>                   
    </article>
</section>